<div class="hero-section">
    <div class="title-section">
        <h1 class="title">Taraka Manikanta Nallana</h1>
    </div>
    <div class="sub">
        <h4 class="subtitle">Aspiring FullStack Developer</h4>
    </div>
    <div class="description">
        <p>
            Java Full Stack Developer with strong expertise in SQL, MySQL database design,<br>
            and backend development using Java and Spring Boot. Skilled in building RESTful<br>
            APIs, implementing business logic, and integrating secure database operations.<br>
            Experienced in developing scalable web applications using MVC architecture and<br>
            modern frameworks like Angular and Bootstrap for responsive UI.
        </p>
    </div>
    <div class="animation">
        <video autoplay loop muted playsinline>
        <source src="assets/ani.webm" type="video/webm" />
      </video>
    </div>
</div>